@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700;900&display=swap');

body{
    font-family: "Figtree", sans-serif;
    color: #212121;
}

a{
    text-decoration: none;
}

h1{
    margin: 0;
}

h2{
    margin: 0;
}

h3{
    margin: 0;
}

p{
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

.mainTitle{
    font-size: 48px;
}

.primary-btn{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    border: 2px solid #212121;
    padding: 10px 16px;
    background-color: #212121;
    font-family: "Figtree", sans-serif;
    cursor: pointer;
}

.secondary-btn{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #212121;
    border-radius: 8px;
    border: 2px solid #212121;
    padding: 10px 16px;
    background-color: white;
    font-family: "Figtree", sans-serif;
    cursor: pointer;
}

.rounded-btn{
    border-radius: 24px;
}

.nobg-btn{
    font-size: 16px;
    font-weight: bold;
    color: #212121;
}

/* padding for button icon */
button span{
    padding-left: 16px;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

/* animate button icon */
.animated-btn:hover span{
    padding-left: 24px;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

/* input styling */
.inputItem{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.label-md{
    font-size: 12px;
    font-weight: bold;
}

.input-md{
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}

.input-md:focus{
    border-color: #B09A83;
    outline: 1px solid #B09A83;
}

.checkboxItem{
    display: flex;
    gap: 8px;
    align-items: center;
}

.checkBox{
    width: 20px !important;
    height: 20px !important;
    accent-color: #212121;
}



/* input styling */

/* popup styling */
.popup-content {
    border-radius: 16px !important;
    width: auto !important;
    padding: 8px !important;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
    border: none !important;
}

.close-btn{
    color: #888888;
    position: absolute;
    top: 8x;
    right: 8px;
    font-size: 24px;
    cursor: pointer;
}

/* popup styling */




.rdrCalendarWrapper{
    overflow: hidden;
    color: #212121;
    font-size: 12px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}

.rdrDateDisplayItemActive{
    border-color: #B09A83 !important;
}

.rdrStartEdge {
    background-color: #B09A83 !important;
}

.rdrEndEdge{
    background-color: #B09A83 !important; 
}

.rdrInRange{
    background-color: #B09A83 !important; 
}

.rdrDayToday .rdrDayNumber span:after {
    background: #B09A83 !important;
}

.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after{
    border: 1px solid #B09A83 !important;
}

.rdrDateDisplayItem{
    border-radius: 6px !important;
    box-shadow: none !important;
}

/* .rdrDateDisplayItemActive{
    border-color: #B09A83 !important;
}

.rdrSelected, .rdrInRange, .rdrStartEdge, .rdrEndEdge{
    background: #B09A83 !important;
}

.rdrDayStartPreview, .rdrDayInPreview, .rdrDayEndPreview{
    border: 0px solid #212121 !important;
}

.rdrDefinedRangesWrapper{
    .rdrStaticRangeSelected{
      color: #212121 !important;
    }
}

.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after{
    content: '';
    border: 1px solid #212121 !important;
} */

