.footer{
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #212121;
    padding: 28px 24px;
    margin-top: 40px;
}

.footerContainer {
    width: 100%;
    max-width: 1128px;
    color: #D0C2B5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.urlContainer{
    display: flex;
    gap: 16px;
}

.url-divider{
    width: 1px;
    height: 20px;
    background-color: #B09A83;
}

a{
    color: #D0C2B5;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .footerContainer {
        flex-direction: column;
        gap: 16px;
    }
}