.header{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0 24px;
}

.headerHero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 64px;
    width: 100%;
    max-width: 1128px;
    margin: 32px 0;
}

.roomAvailableTag{
    display: inline;
    font-weight: bold;
    padding: 6px 12px;
    color: white;
    background-color: #B09A83;
    border-radius: 16px;
}

.roomAvailableTag a{
    color: white;
}

.roomAvailableTag a:hover{
    text-decoration: underline;
}

.heroTitle{
    max-width: 50%;
}

.heroMainTitle{
    margin: 24px 0 32px 0;
}

.heroSubtitle{
    font-size: 24px;
    line-height: 32px;
    opacity: 0.64;
    margin-bottom: 40px;
}

.heroBenefits{
    display: flex;
    gap: 40px;
}

.heroBenefitItem{
    display: flex;
    align-items: center;
    gap: 16px;
}

.benefitIcon{
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #B09A83;
    background-color: #EFEBE6;
    border-radius: 32px;
}

.benefitText h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.heroImage{
    max-width: 50%;
    direction: rtl;
}

.heroImage img{
    max-width: 80%;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .heroTitle{
        max-width: 100%;
    }

    .heroImage{
        display: none;
    }
}
