#header{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0 24px;
}

.headerHero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    width: 100%;
    max-width: 1128px;
    margin: 40px 0;
}

.roomAvailableTag{
    display: inline;
    font-weight: bold;
    padding: 6px 12px;
    color: white;
    background-color: #B09A83;
    border-radius: 16px;
}

.roomAvailableTag a{
    color: white;
}

.roomAvailableTag a:hover{
    text-decoration: underline;
}

.heroTitle{
    max-width: 50%;
}

.heroMainTitle{
    font-size: 48px;
    margin: 24px 0 32px 0;
}

.heroSubtitle{
    font-size: 24px;
    line-height: 32px;
    opacity: 0.64;
    margin-bottom: 40px;
}

.heroBenefits{
    display: flex;
    gap: 40px;
}

.heroBenefitItem{
    display: flex;
    align-items: center;
    gap: 16px;
}

.benefitIcon{
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #B09A83;
    background-color: #EFEBE6;
    border-radius: 32px;
}

.benefitText h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.heroImage{
    max-width: 50%;
}

.heroImage img{
    max-width: 100%;
}

.headerSearch{
    height: auto;
    background-color: white;
    border: 2px solid #e0e0e0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
    padding: 8px 8px 8px 24px;
}

.headerSearchOptions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
}

.headerSearchSubItem{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.headerSearchIcon{
    font-size: 20px;
    color: #888888;
}

.headerSearchInput{
    cursor: pointer;
}

.headerSearchTitle{
    font-weight: bold;
    display: flex;
    gap: 8px;
    font-size: 12px;
}

.date{
    position: absolute;
    top: 56px;
}

.arrow{
    padding: 0 8px;
}

.input-divider{
    width: 1px;
    height: 32px;
    background-color: #e0e0e0;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 56px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
    padding: 16px;
}

.optionItem{
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionCounter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.optionCounterNumber{
    width: 32px;
    font-size: 24px;
    text-align: center;
}

.optionCounterBtn{
    font-size: 14px;
    cursor: pointer;
    padding: 8px 10px;
    border: 1px solid #888888;
    border-radius: 24px;
    background-color: white;
}

.optionCounterBtn:disabled{
    border-color: #e0e0e0;
    cursor: not-allowed;
}



/* Media queries */

@media only screen and (max-width: 768px) {
    .heroTitle{
        max-width: 100%;
    }

    .heroImage{
        /* max-width: 100%; */
        display: none;
    }

    /* .headerHero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 64px;
        width: 100%;
        max-width: 1128px;
        margin: 40px 0;
    } */

    .headerSearch{
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        justify-content:space-between;
        padding: 16px;
    }
}

@media screen and (max-width: 480px){

    .headerSearchOptions{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        gap: 24px;
    }

    .headerSearchIcon{
        width: 24px;
    }

    .input-divider{
        display: none;
    }

    .date{
        position: absolute;
        left: 12px;
    }
    
}
