.roomDetails{
    display: flex;
    flex-direction: column;
    gap: 80px;
}


.roomDetailsContainer{
    width: 100%;
    max-width: 1128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.roomDetailsContent{
    width: 552px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.roomAvailableCount{
    display: inline;
    font-weight: bold;
    padding: 6px 12px;
    color: white;
    background-color: #B09A83;
    border-radius: 16px;
}

.roomInformation{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
}

.roomImage{
    width: 496px;
    height: 456px;
    overflow: hidden;
    border-radius: 16px;
}

.roomImage img{
    width: auto;
    height: 456px;
}


.roomHighlights{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 0;
}

.roomHighlightsItem{
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

.highlightItem{
    display: flex;
    align-items: center;
    gap: 16px;
    min-width: 144px;
}

.highlightIcon{
    font-size: 20px;
    text-align: center;
    width: 24px;
    height: 24px;
    color: #B09A83;
}

.roomCallToAction{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.roomCost{
    display: flex;
    flex-direction: column;
}

.roomCostPerNight{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.roomCostDisclaimer{
    font-size: 12px;
    line-height: 16px;
    color: #888888;
}

.roomDivider{
    width: 100%;
    border: 1px solid #F1F1F1;
}

/* Media queries */

@media screen and (max-width: 768px){
    .roomDetailsContainer{
        flex-direction: column;
    }

    .roomDetailsContent{
        width: auto;
    }

    .roomImage{
        width: 100%;
        height: 100%;
    }
}