.logo{
    font-size: 24px;
    font-weight: bold;
    font-family: serif;
    color: #212121;
}

.navbar{
    height: auto;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #E0E0E0;
    padding: 12px 24px;
}

.navContainer {
    width: 100%;
    max-width: 1128px;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navItems{
    display: flex;
    gap: 16px;
}

/* Login popup */
.loginPopup{
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 24px;
    padding: 12px;
    border-radius: 16px !important;
}

.loginPopup input{
    width: 308px;
}

.loginPopup button{
    width: 100%;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.passwordOptions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgot-pw-btn{
    font-weight: normal !important;
}

.register{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Login popup */

/* Register popup */
.consent{
    width: 334px;
}

.consent p{
    text-align: center;
}

/* Register popup */

/* Media queries */

@media screen and (max-width: 480px){
    .navContainer {
        flex-direction: column;
        gap: 16px;
    }

    .loginPopup input{
        width: 280px;
    }

    .consent{
        width: 306px;
    }
}
